
Novaciv/.vs/

Novaciv/Novaciv/Novaciv/bin/

Novaciv/Novaciv/Novaciv/obj/

Novaciv/Novaciv/Novaciv.Android/bin/

Novaciv/Novaciv/Novaciv.Android/obj/

Novaciv/Novaciv/Novaciv.iOS/bin/

Novaciv/Novaciv/Novaciv.iOS/obj/
